# Prerequisites
PCB_SDRAM/History/**/*.*
PCB_SDRAM/Logs/**/*.*

QmtechReuFpga/acme/**/*.*
QmtechReuFpga/eepMem/**/*.*
QmtechReuFpga/firmware/**/*.*
QmtechReuFpga/greybox_tmp/**/*.*
QmtechReuFpga/QmTechSim/**/*.*
QmtechReuFpga/REU/Project/**/*.*
QmtechReuFpga/REU/Sim/**/*.*

QmtechReuFpga/TimingGen/Project/**/*.*
QmtechReuFpga/TimingGen/Sim/**/*.*





QmtechReuFpga/Project/.qsys_edit/**/*.*
QmtechReuFpga/Project/db/**/*.*
QmtechReuFpga/Project/greybox_tmp/**/*.*
QmtechReuFpga/Project/incremental_db/**/*.*
QmtechReuFpga/Project/output_files/greybox_tmp/**/*.*



*.LOG
*.qmsg
*.cdb
*.tdf
*.hdb
*.bak
*.rpt
QmtechReuFpga/Project/incremental_db/README
QmtechReuFpga/TimingGen/Project/incremental_db/README
QmtechReuFpga/TimingGen/Sim/incremental_db/README
QmtechReuFpga/SdramW9825G6KH/W9825G6KH.vhd
QmtechReuFpga/Project/output_files/QmTechReu.cdf
QmtechReuFpga/Project/output_files/QmTechReu.done
QmtechReuFpga/Project/output_files/QmTechReu.fit.smsg
QmtechReuFpga/Project/output_files/QmTechReu.fit.summary
QmtechReuFpga/Project/output_files/QmTechReu.map.summary
QmtechReuFpga/Project/output_files/QmTechReu.sta.summary
QmtechReuFpga/acme/docs/COPYING
QmtechReuFpga/QmTechSim/Project/incremental_db/README
QmtechReuFpga/QmTechSim/SimPrj/wlftr13w4i
QmtechReuFpga/QmTechSim/SimPrj/work/_info
QmtechReuFpga/QmTechSim/SimPrj/work/_vmake
QmtechReuFpga/REU/Project/incremental_db/README
QmtechReuFpga/REU/Sim/Project/incremental_db/README
QmtechReuFpga/REU/Sim/SimPrj/work/_vmake
QmtechReuFpga/REU/Sim/SimPrj/work/_info
QmtechReuFpga/TimingGen/Sim/wlft692tae
QmtechReuFpga/TimingGen/Sim/wlftdf5bei
QmtechReuFpga/TimingGen/Sim/wlfti70yxr
QmtechReuFpga/TimingGen/Sim/work/_info
QmtechReuFpga/TimingGen/Sim/work/_vmake
